/* SIM, EU TENHO COSTUME DE COLOCAR AS VARIAVEIS EM INGLÊS, TMJ */

/* JÁ CORINGUEI KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}



.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.logo-text {
    position: relative;
    top: 23%;
    font-size: 24px;
    color: #3B1690;
}

.cloud {
    position: relative;
    width: 100%;
    text-align: center;
}


.cloud-text {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #4a178e; 
    font-size: 18px; 
    font-weight: bold;
    background-color: #0000001e;
    width: 100%;
}


.sidebar {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 14%;
    background-color: #ffff;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 7px solid #3f2182;
    padding: 1.5rem;
}

.side-bar-escondida{
    width: 14%;
}

.persona{
    font-size: 120%;
    color: #3B1690;
    font-weight: bold;
}

.sidebar-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.sidebar-btn {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #5c3c92;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}


.sidebar-btn:hover {
    background-color: #472c72;
}

.main-content {
    flex: 1;
    background-color: #f9f6ff;
}

.main-content h1 {
    color: #4a178e;
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
    height: 12%;
    padding-top: 30px;
    text-align: center;
    background-color: #e2ceff;
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: white;
    margin-left: 20px;
}

.filter-container label {
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 8px;
}

.custom-select {
    position: relative;
    width: 150px;
}

.custom-select select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
}

.custom_check{
    color: black;
    background-color: #FFFF;
    border-radius: 20px;
    padding: 10px;
    margin-left: 2%;
    cursor: default;
}


.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-select .arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: black;
}

.status-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.status-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    color: black;
    margin-bottom: 15px;
    background-color: #e2ceff;
}

.status-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.status-box p {
    font-size: 100%;
    text-align: left;
}

.texto-box{
    margin-left: 5%;
    text-align: left;
}

.numero-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 100%;
    padding: 10%;
    height: 60%;
    width: 50%;
    font-size: 2em;
    font-weight: bold;
}

/* .alert {
    background-color: red;
} */

.alert .numero-card{
    background-color: red;
}

/* .warning {
    background-color: yellow;
    color: black;
} */

.warning .numero-card{
    background-color: yellow;
    color: #000;
}

/* .stable {
    background-color: green;
} */

.stable .numero-card{
    background-color: green;
}

.grupo_maquinas_filtro{
background-color: #e2ceff;
margin-left: 20px;
margin-right: 10px;
border-radius: 5px;
padding: 1%;
border-radius: 5px;
}

.grupo_maquinas_filtro label{
color: black;
}

.machine-list {
    border-radius: 5px;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.machine-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.machine-info {
    font-size: 16px;
    color: #4a178e;
}

.machine-status {
    display: flex;
    gap: 10px;
}

.machine-indicator{
    border-radius: 100%;
    background-color: #8f8f8f;
    height: 70px;
    width: 70px;
}

.cpu, .ram {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.cpu.alert, .ram.alert {
    background-color: red;
}

.cpu.warning, .ram.warning {
    background-color: yellow;
    color: black;
}

.cpu.stable, .ram.stable {
    background-color: green;
}

.analyze-btn {
    text-decoration: none;
    background-color: #4a178e;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.analyze-btn:hover {
    background-color: #5c1baf;
}

.chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container-grafico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.avisos-jira-div{
    margin-top: 20px;
    background-color: #e2ceff;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 1%;
    border-radius: 5px;
    }


.custom-select-grafico{
    width: 250px;
}

.form-cadastro {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 4rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #5b3eda;
}

.btn-cadastrar {
    background-color: #5b3eda;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}

.btn-cadastrar:hover {
    background-color: #6c4fff;
}

.avisos-jira-div{
    background-color: #e2ceff;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .sidebar-btn {
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding: 10px;
    }

    .main-content {
        padding: 20px;
    }

    .status-summary {
        flex-direction: column;
        align-items: center;
    }

    .status-box {
        width: 80%;
        margin-bottom: 15px;
    }

    .machine-list {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .machine-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .machine-status {
        flex-direction: column;
        gap: 5px;
    }

    .analyze-btn {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
    .machine-list {
        grid-template-columns: 1fr;
    }

    .sidebar-btn {
        font-size: 17px;
    }

    .main-content {
        padding: 20px;
    }

    .machine-card {
        flex-direction: column;
    }

    .machine-status {
        flex-direction: column;
    }
}
