* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 200px;
    background-color: #ffff;
    color: white;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-right: 7px solid #3f2182;
    padding: 1.5rem;
    padding-top: 2rem;
    height: 170vh;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.sidebar-btn {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    background-color: #5c3c92;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;

    text-decoration: none;
    text-align: center;
}

.sidebar-btn:hover {
    background-color: #472c72;
}

.main-content {
    flex: 1;
    background-color: #fff;
    height: 170vh;
}

.main-content h1 {
    font-size: 1.5em;
    text-align: center;
    color: #5c3c92;
    margin-bottom: 20px;
    background-color: #d9d9d9;
    padding: 20px;
}

.painel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3f2182;
    padding: 20px;
    box-shadow: 0px 10px 20px #3f2182;
}

.corAlerta {
    margin-top: 20px;
    border-radius: 50%;
    height: 45px;
    width: 50px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}

.corAlerta h2 {
    text-align: center;
    font-size: 45px;
}

.painel h1 {
    color: black;
    border-radius: 20px;
    display: flex;
}

.painel2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -8rem;
    height: 25rem;
}

.descricao {
    flex-direction: column;
    justify-content: left;
    display: flex;
    border-radius: 20px;
    margin-left: 15px;
}

.descricao h1 {
    margin: 0;
    font-size: 35px;
}

.alertas {
    display: flex;
    background-color: #d9d9d9;
    border-radius: 20px;
    width: 28rem;
    height: 7rem;
}

.alertas h2 {
    border-radius: 50%;
    width: 10px;
    text-align: center;
}


/* parte dos setores */
.chart-container {
    padding: 20px;
    border-radius: 8px;
    height: 31rem;
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}

.titulo {
    display: flex;
    margin-left: 40%;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    height: 2.2rem;
    width: 10.7rem;
}

.alertChart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.cardSetor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #3f2182;
    font-size: 1.2rem;
    padding: 10px;
    padding-top: 1rem;
    border-radius: 10px;
}

.maisDetalhes {
    height: 6.2rem;
    width: 9rem;
    font-size: 1.5rem;
    background-color: #6437ca;
    color: white;
    border-radius: 1rem;
    border-style: none;
    margin-left: 6.5rem;
}

.conteudo {
    display: flex;
    justify-content: center;
}

.conteudo p {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
}

.metricas {
    display: flex;
    font-size: 4rem;
}

.alertasDesc {
    display: flex;
    border-radius: 20px;
    margin-right: 2rem;
}

.alertasDesc h2 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
}

.corAlertaDesc {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
}

.corAlertaDesc h2 {
    margin: 25px;
    font-size: 45px;
}

.configGraficoPizza {
    width: 400px;
    height: 400px;
    background-color: #d9d9d9;
    border: 2px solid #6437ca;
}

.configGraficoBarra {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 125px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.botaoSetores{
    width: 20%;
    padding: 12px;
    margin: 10px 0;
    background-color: #3f2182;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    margin-left: 33rem;
}

.totalMaquinas {
    color: white;
}