@font-face {
    font-family: Kollektif;
    src: url(kollektif/Kollektif.ttf);
}

@media (max-width: 480px) {
    /*Tamanho celular*/

    body{
        background-color: #0f132e;
        font-family: Kollektif;
    }

    .img1 {
        background-image: url(imagens/imagemFundo2.png);
    }

    .img2 {
        background-image: url(imagens/torrejpg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .img3 {

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(imagens/imagemFundo.jpg);

    }

    .logo img{
        max-width: 110px;
        height: auto;
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
        
    }

    .carousel{
        width: 100vh;
        overflow: hidden;
        height: auto;
        word-wrap: break-word;
        background-size: cover;
        position: relative;
        top: -40px;
        height: 667px;
    }

    .carousel__item{
        display: none;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    
    .container h2{
        display: flex;
        position: relative;
        top: 30px;
        flex-direction: column;
    }    

    .container .subsection{
        display: flex;
        position: relative;
        top: 390px;
        align-items: center;
        justify-content: center;
    }

    .carousel__item--visible{
        display: block;
        width: 100%;
        animation: fadeVisibility 0.3s;
        color: white;
        background-size: cover;
    }

    .img1, .img2, .img3 {
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    .opcoes{
        display: flex;
        justify-content: center;
    }

    .direita{
        display: flex;
        position: relative;
        top: -1.5px;
    }

    .opcoes ul{
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 100%;
        flex-wrap: nowrap;
    }

    .opcoes ul li{
        margin: 0 10px;
    }

    .navbar{
        display: flex;
        background: linear-gradient(90deg, rgba(19, 7, 46, 1) 41%, rgb(92, 59, 119) 92%);
        color: white;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        padding: 10px;
        position: relative;
        top: -20px;
        font-size: small;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, rgba(19, 7, 46, 1) 41%, rgb(84, 47, 114) 92%);
        border-radius: 1.3px;
        /* Bordas arredondadas */
        border: 1.3px solid #e1e1e1;
        /* Borda externa para criar efeito de espessura */
    }

    .sobre{
        padding: 20px;
        text-align: center;
        color: white;
    }

    .footer {
        background-color: #0f132e;
    }

}


@media (min-width: 800px) {
    /*Tamanho tablet*/

}

@media (min-width: 1025px) {
    /*Tamanho desktop*/

    ::-webkit-scrollbar {
        width: 14px;
        /* Largura da barra de rolagem */
    }

    ::-webkit-scrollbar-track {
        background: #e1e1e1;
        /* Cor do fundo da barra de rolagem */
        border-radius: 5px;
        /* Bordas arredondadas */
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, rgba(19, 7, 46, 1) 41%, rgb(84, 47, 114) 92%);
        border-radius: 5px;
        /* Bordas arredondadas */
        border: 3px solid #e1e1e1;
        /* Borda externa para criar efeito de espessura */
    }

    body {
        background-color: #0f132e;
        padding: 0;
        margin: 0;
        font-family: Kollektif;
    }

    .header {
        height: 100vh;

    }

    .footer {
        background-color: #0f132e;
    }

    .navbar {
        height: 20vh;
        background: rgb(19, 7, 46);
        background: linear-gradient(90deg, rgba(19, 7, 46, 1) 41%, rgb(92, 59, 119) 92%);
        /* Gradiente feito no https://cssgradient.io/ */
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navbar ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 500px;
        justify-content: space-around;
        margin-bottom: 0;
    }

    .sobreNos {
        display: flex;
        width: 100%;
        color: white;
        background-size: auto;
        height: 80vh;
        justify-content: center;

    }

    .img1 {
        background-image: url(imagens/imagemFundo2.png);
    }

    .img2 {
        background-image: url(imagens/torrejpg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .img3 {

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(imagens/imagemFundo.jpg);

    }

    .container {
        display: flex;
        height: 100%;
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .logo {
        width: 250px;
    }

    .subtitle {
        font-size: 3.75rem;
        margin-top: 0;
    }

    .subsection {
        font-size: 1.875rem;

    }


    .logo {
        height: 55%;
    }

    .opcoes {
        height: 40%;
        width: 100%;
        flex-direction: row;
        display: flex;
    }

    .esquerda {
        display: flex;
        width: 20%;
    }

    .centro {
        display: flex;
        width: 60%;
        justify-content: center;
    }

    .direita {
        display: flex;
        width: 20%;
    }

    .carousel {
        overflow: hidden;
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .carousel .carousel__item--visible {
        display: block;
        animation: fadeVisibility 0.3s;
        width: 100%;
    }

    .carousel .carousel__actions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 20%;
        transform: translateY(-50%);
    }

    .carousel__item {
        display: none;
        width: 100%;

    }

    /*Página sobre*/

    .sobre {
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #3f2182;
    }

    .titulo {
        height: 20%;
        display: flex;
        flex-direction: row;
    }

    .linha {
        width: 35%;
        height: 50%;
        border-bottom: 4px solid #3f2182;
    }

    .titulop2 {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagem {
        width: 35%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .aviao {
        transform: rotate(43deg);
    }


    .pagina2 {
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .legendas {
        width: 95%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .legenda {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        font-weight: bold;
        font-size: 1.1875rem;
    }

    .icone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background: linear-gradient(135deg, rgb(19, 7, 46), rgb(63, 33, 130));
        border-radius: 50%;
    }

    .palavra {
        width: 60%;
        display: flex;
        justify-content: flex-start;

    }

    .caixas {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-evenly;

    }

    .caixa {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(135deg, rgb(19, 7, 46), rgb(63, 33, 130));
        width: 24%;
        height: 90%;
        border-radius: 20px;
        box-shadow: 9px 0px 19px rgba(0, 0, 0, 0.7);
        color: #e1e1e1;

    }

    .texto {
        width: 75%;
        height: 90%;
        font-size: 1.6875rem;
    }

    .pagina3 {
        height: 200vh;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #3f2182;
    }

    .parte1 {
        width: 100%;
        height: 26%;
        display: flex;
        flex-direction: row;
    }

    .solucao {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .tituloSolucao {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between;
    }

    .textoSolucao {
        width: 54%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .iconeSolucao {
        width: 44%;
        height: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .corpoSolucao {
        width: 55%;
        height: 55%;
        font-size: 1.875rem;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .texto1 {
        width: 100%;
        height: 70%;
    }

    .texto2 {
        width: 100%;
        height: 10%;
    }

    .botaoSolucao {
        width: 100%;
        height: 23%;
        display: flex;
        justify-content: center;
    }

    #cadastre {
        width: 190px;
        height: 40px;
        background: linear-gradient(135deg, rgb(19, 7, 46), rgb(63, 33, 130));
        color: white;
        font-weight: bold;
        font-size: 1rem; 
        font-family: Kollektif;
    }

    .foto1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26%;
        height: 80vh;
        z-index: 2;
    }

    .parte2 {
        width: 100%;
        height: 72%;
        background: linear-gradient(135deg, rgb(19, 7, 46), rgb(63, 33, 130));
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .particao1 {
        z-index: 1;
        width: 100%;
        height: 30%;
    }

    .foto2 {
        width: 65%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .particao2 {
        width: 100%;
        height: 70%;
    }

    .pagina4 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        color: white
    }

    .tituloSobrenos {
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .corpoSobrenos {
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .espacoAviao {
        width: 20%;
        height: 100%;
    }


    .corpoTexto {
        width: 54%;
        height: 82%;
    }

    .aviaozinho {
        width: 99%;
        height: 100%;
        background-image: url(imagens/aviaozinho.png);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;
    }

    .textoAviaozinho {
        width: 70%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem; 
    }


    .imgTexto {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .footer {
        width: 100%;
        height: 22%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #3f2182;
    }

    .quadrado {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .redes {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #3f2182;
        font-weight: 600;
        font-size: 1.125rem;;
    }

    .contatos {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ref{
        width: 100%;
        height: 29%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .rede{
        width: 70%;
        height: 100%
    }

    .imgRede{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        width: 26%;
        height: 100%;
    }


.botao{
    text-decoration: none;
    color: aliceblue;
    
}


}